<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> home page</title>
    <script>
        tailwind.config = {
            plugins: [
                require('@tailwindcss/forms'),
                require('@tailwindcss/typography')
            ]
        }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<nav class="bg-gray-800 shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href="{% url 'home' %}" class="text-white text-2xl font-bold">Student Management System</a>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-8">
                <a href="{% url 'students' %}"
                   class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium transition duration-300">Students</a>
                <a href="#"
                   class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium transition duration-300">Create
                    New Student</a>
                                    <a href="{% url 'register' %}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium transition duration-300">register</a>
                                    <a href="{% url 'login' %}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-base font-medium transition duration-300">login</a>
            </div>
        </div>
    </div>


</nav>
   <main class="container mx-auto py-8 flex-grow px-4 md:px-0">
        <div class="max-w-screen-xl mx-auto w-full">
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% include 'include/footer.html' %}
</body>
</html>